body {
    background: fixed;
    background-color: #ffffff;  
}

    /* set border-box (so that css uses a more reasonable box model, and so it’s like every other platform) */
    *, *::before, *::after {
    box-sizing: border-box;
    }
    /* get rid of default margins which vary depending on browser anyway, just set it yourself later*/
    * {
    margin: 0;
    }
    /* media elements are replaced elements which have a width based on the media, so we prevent it from expanding beyond its container, and take up a row */
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }
    /* make tables look like spreadsheets and less like a spaced-out grid */
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }

    

.ml-auto {
    margin-left: auto!important;
}

#nav_title {
    font-size: 32pt;
    font-family: "Garamond", serif; 
    color: white;
}

.navbar{
    background-color: rgb(6, 4, 129);
    /* position: fixed; */
}

.options{
    font-size: 15pt;
    font-family: "Garamond", serif;
}

.title {
    padding: 1rem 1rem 0 1rem;
    color: rgb(0, 10, 42);
    font-family: "Garamond", serif;
    font-size: 28pt;
    margin: 2vw 0 1vw 2vw;
}



.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: left;
  }

.wrapper > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10p;
}

.main {
    text-align: left;
    height: 100%;
    font-size: 24px;
}
.main .main_info {
    background-color: rgb(145, 163, 202);
    color: black;
    font-family: "Garamond", serif;
    margin: 1% 1% 0 3%;
    padding: 1.5rem;
}
.main .main_info h4{
    font-family: "Garamond", serif;
    text-align: center;
    font-size: 20pt;
}
.main .main_info p{
    font-family: "Verdana", sans-serif;
    font-size: 13pt;
}
.main .application {
    background-color: rgb(145, 163, 202);
    color: black;
    margin: 3% 1% 0 3%;
    padding: 1.5rem;
    text-align: center;
}
.main .application h3 {
    font-family: "Garamond", serif;
    text-align: left; 
}
.main .application p {
    font-family: "Verdana", sans-serif;
    margin: 0 0 1vw 3vw;
    font-size: 14pt;
    text-align: left; 
}
#apply_b {
    padding: 2% 2% 2% 2%;
    background-color: white;
    font-family: "Garamond", serif;
    font-size: 15pt;
    border-width: .4rem;
    border-color: rgb(255, 255, 255);
}





.aside1 {
    background: none;
}
.aside .important_dates {
    color: black;
    background-color: rgb(240, 190, 190);
    border-color: rgb(94, 7, 7);
    border-width:3px; 
    border-style:solid;
    margin: 2% 3% 0 1%;
    padding: 1.5rem;
}
.aside .important_dates h3 {
    font-family: "Garamond", serif;
}
.aside .important_dates h4 {
    font-family: "Garamond", serif;
}
.aside .important_dates h5 {
    font-family: "Garamond", serif;
    margin: 0 0 0 1vw;
}
.aside .important_dates p {
    font-family: "Verdana", sans-serif;
    margin: 0 0 1vw 3vw;
}




@media all and (min-width: 800px){
    .main{
        flex: 3;
    }
    .aside1{
        order: 2;
    }
    .main{
        order: 2;
    }

}

@media all and (min-width: 600px){
    .aside{
        flex: 1;
    }
}





.more_information {
    padding: 1rem 1rem 0 1rem;
    color: rgb(0, 10, 42);
    font-family: "Garamond", serif;
    font-size: 28pt;
    margin: 2vw 0 2vw 2vw;
}

.buttons { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   

  }
  .buttons button { 
    background-color: rgb(6, 4, 129);
    color: white;
    padding: 1rem 1rem ;
    border-radius: 3px;
    cursor: pointer;
    float: center;
    width: 100%;
    max-width: 90%;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    border-width: .5rem;
    border-color: rgb(177, 177, 177);
    font-size: 17pt;
  }

  .row {
    --bs-gutter-x: 2rem;
  }



  .bottom_bar {
    background-color: rgb(0, 11, 52);
    color: white;
    margin: 2rem 0 0 0 ;
    text-align: center;
  }

  .bottom_bar p {
    font-family: "Verdana", sans-serif;
    margin:0;
    padding: 2rem;
    margin-left: 5%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 12pt;
  }

